.component-message-dialog-title-icon {
  font-size: 36px !important;
}

.component-message-dialog-title {
  font-size: 24px !important;
}

.component-message-dialog-content {
  margin-top: 18px !important;
}
