
.modal-me {
  width: 100%;
  height: 100%;
}

.modal-me .tab-cm-modal-content {
  height: 100%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-me .tab-modal-close {
  font-size: 20px;
  padding: 14px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  -webkit-appearance: none;
  cursor: pointer;
  background: 0 0;
  border: 0;
  position: absolute;
  right: 0;
  z-index: 9999;
}

.modal-me .tab-modal-close:focus, .tab-modal-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5
}

.modal-me .tab-cm-modal-body {
  padding: 0
}

.modal-me .tab-cm-modal-body > div {
  margin: 1rem;
}

.modal-me .tab-cm-modal-title {
  width: 100%;
  line-height: 24px;
  text-align: center;
  padding: 24px 0 0 0
}

.ReactModalPortal > div {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.45) !important;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.modal-me .card-container {
  position: relative;
}

.modal-me .card-container > .ant-tabs-card .ant-tabs-content {
  overflow: auto;
}

.modal-me .card-container .ant-tabs-tab {
  border: none !important;
  border-top: 1px solid #d9d9d9 !important;
  border-right: 1px solid #d9d9d9 !important;
  border-left: 1px solid #d9d9d9 !important;
}

.modal-me .card-container .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner {
  color: #fff !important;
  background-color: #288fc6 !important;
  border-radius: 4px 4px 0 0;

}

.modal-me .card-container .ant-tabs.ant-tabs-card .ant-tabs-nav-container {
  height: auto !important;

}

.modal-me .card-container .ant-tabs-bar .ant-tabs-nav-scroll {
  width: auto !important;

}

.modal-me .card-container .ant-tabs-nav-container .ant-tabs-nav-wrap .ant-tabs-nav {
  margin: 16px 0 0 20px;
}

.modal-me .card-container .ant-tabs.ant-tabs-card .ant-tabs-tab, .card-container .ant-tabs.ant-tabs-card .ant-tabs-tab-inner {
  transition: none !important;
}

.modal-me .react-bs-table-container {
  margin: 0;
}

.modal-me .react-bs-table-container .react-bs-table {
  box-sizing: content-box;
}

/*1px solid #d9d9d9*/
