
.cm-modal-dialog {
  width: 100%;
}

.cm-modal-content {
  /*position: relative;*/
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}
.cm-modal-header {
  min-height: 16.43px;
  line-height: 48px;
  height: 48px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}

.cm-modal-header .close {
  font-size: 20px;
  padding: 14px;
}

.cm-modal-title {
  font-size: 1.125rem;
  margin: 0;
}

.cm-modal-body {
  padding: 8px;
}

.cm-modal-body > div {
  margin: 1rem;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2
}

.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5
}

a.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0
}

.ReactModalPortal > div {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.45) !important;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

/*modal inner style*/
/*use ant row,col,label*/
.cm-modal-container {

}

.cm-modal-container .row {
  margin-bottom: 0.5rem;
}
